<p id="notice"><%= notice %></p>

<h1><%= t :Current_admins %></h1>

<ul>
  <% @admins.each do |admin| %>
      <li>
        <%= admin.username %>
      </li>
  <% end %>
</ul>

<p><%= t :Contact %></p>

<% if current_user && current_user.admin %>
    <h3><%= t :Users %>:</h3>
    <ul class="list-group">
      <% @users.each do |user| %>
        <li class="list-group-item">

          <%= link_to user.username, user, class:'btn btn-primary btn-sm' %>

          <% if user.admin %>
              <span class="label label-info pull-right">admin</span>
          <% end %>
        </li>

        <% end %>
    </ul>
<% end %>

<% if not current_user or (current_user and current_user.admin)%>
  <%= link_to (t :Register), new_user_path, class:'btn btn-default' %>
<% end %>