<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :username %></strong>
  <%= @user.username %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to (t :Edit), edit_user_path(@user) %> |
<%= link_to (t :Back), users_path %>
