<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :Name %>:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong> <%= t :Link %>:</strong>
  <%= @restaurant.link %>
</p>
W
<% if current_user %>

    <h3><%= t :Rate_restaurant %></h3>

    <%= form_for(@rating) do |f| %>

        <% if flash[:errors] %>
            <div id="error_explanation">
              <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this rating from being saved:</h2>

              <ul>
                <% flash[:errors].each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.hidden_field :place_id, value: @restaurant.acting_as.id %>
        score: <%= f.number_field :points %>
        <%= f.submit (t :rate), class:"btn btn-primary" %>
    <% end %>
<% end %>
<br>

<% if can? :edit, Restaurant %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<% end %>

<%= link_to 'Back', restaurants_path %>