<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :Name %>:</strong>
  <%= @municipality.name %>
</p>

<p>
  <strong><%= t :Year %>:</strong>
  <%= @municipality.year %>
</p>

<p>
  <strong><%= t :Description %>:</strong>
  <%= @municipality.description %>
</p>

<p>
  <strong><%= t :Population %>:</strong>
  <%= @municipality.population %>
</p>

<p>
  <strong><%= t :Link %>:</strong>
  <a href=<%= @municipality.link %>><%= @municipality.link %></a>
</p>

<p>
  <strong><%= t :Region %>:</strong>
  <%= @municipality.region_id %>
</p>

<%= link_to (t :Edit), edit_municipality_path(@municipality) %> |
<%= link_to (t :Back), municipalities_path %>