<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :Name %>:</strong>
  <%= @municipality.name %>
</p>

<p>
  <strong><%= t :Year %>:</strong>
  <%= @municipality.year %>
</p>

<p>
  <strong><%= t :Description %>:</strong>
  <%= @municipality.description %>
</p>

<p>
  <strong><%= t :Population %>:</strong>
  <%= @municipality.population %>
</p>

<p>
  <strong><%= t :Link %>:</strong>
  <a href=<%= @municipality.link %>><%= @municipality.link %></a>
</p>

<p>
  <strong><%= t :Region %>:</strong>
  <% if @municipality.region %>
      <%= @municipality.region.name %>
  <% end %>
</p>

<h3><%= t :Top_rated %>:</h3>
<% if @municipality.top_rated.empty? %>
  <p><%= t :Mun_no_ratings %></p>
<% end %>

<% @municipality.top_rated.each do |pl| %>
    <ul>
      <li><%= link_to pl.name, pl.specific %></li>
    </ul>
<% end %>

<h3>All places of this municipality:</h3>
<div ng-controller="PlacesController">
Search: <input ng-model="query">

  <ul class="list-group">

    <li ng-repeat="place in places | filter:query" class="list-group-item">
      <a ng-href="/{{place.base_path}}/{{place.specific.id}}">{{place.specific.name}}</a>
    </li>

  </ul>
</div>

<% if can? :create, Municipality %>
    <%= link_to (t :Edit), edit_municipality_path(@municipality) %> |
    <%= link_to (t :Back), municipalities_path %>
<% end %>