<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :Name %>:</strong>
  <%= @region.name %>
</p>

<p>
  <strong><%= t :Area %>:</strong>
  <%= @region.area %>
</p>

<p>
  <strong><%= t :Population %>:</strong>
  <%= @region.population %>
</p>

<p>
  <strong><%= t :Description %>:</strong>
  <%= @region.description %>
</p>

<p>
  <strong><%= t :Link%></strong>
  <a href=<%= @region.link %>><%= @region.link %></a>
</p>

<% if can? :create, Region %>
    <%= link_to (t :Edit), edit_region_path(@region) %> |
    <%= link_to (t :Back), regions_path %>
<% end %>