<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :Name %>:</strong>
  <%= @region.name %>
</p>

<p>
  <strong><%= t :Area %>:</strong>
  <%= @region.area %>
</p>

<p>
  <strong><%= t :Population %>:</strong>
  <%= @region.population %>
</p>

<p>
  <strong><%= t :Description %>:</strong>
  <%= @region.description %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
