<p id="notice"><%= notice %></p>

<div class="col-md-6">

  <h1><%= t :All_places %></h1>

  <div ng-controller="PlacesController">
    <%= t :Search %>: <input ng-model="query">

    <ul class="list-group">

      <li ng-repeat="place in places | filter:query" class="list-group-item">
        <a ng-href="{{place.url}}" class="btn btn-primary btn-sm">{{place.specific.name}}</a>
      </li>

    </ul>
  </div>
</div>

<div class="col-md-6">

  <h1><%= t :Top_restaurants %></h1>
  <ul class="list-group"><br>
    <% @top_restaurants.each do |restaurant| %>
        <li class="list-group-item"><%= link_to restaurant.name, restaurant.specific, class:'btn btn-primary btn-sm' %></li>
    <% end %>
  </ul><br>
</div>

<div class="col-md-6">

  <h1><%= t :Top_breweries %></h1>
  <ul class="list-group"><br>
    <% @top_breweries.each do |brewery| %>
        <li class="list-group-item"><%= link_to brewery.name, brewery.specific, class:'btn btn-primary btn-sm' %></li>
    <% end %>
  </ul><br>
</div>

<div class="col-md-12">
  <% if can? :create, Place %>
      <%= link_to (t :New_place), new_place_path, class:'btn btn-default' %>
  <% end %>
</div>
